<div id="contact" class="container"><br>
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a class="bx bxl-gmail" href="mailto:sanikakarale2311@gmail.com"></a></li>
        <li><a class='bx bxl-linkedin' href="https://www.linkedin.com/in/sanika-karale-a16169213/"></a></li>
        <li><a class='bx bxl-twitter' href="https://twitter.com/3Karale"></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 9146949697</li>
        <li>Email: sanikakarale2311@gmail.com</li>
    </ul>
</div>